.mj-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.mj-top-row{
    background-color: #5b4c4bed;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#5b4c4bed,#5b4c4bed), url(texture-min.png);
}

.mj-top-row ul{
    padding: 0;
}

.mj-top-row ul li{
    display: inline-block;
    
}

a{
    color: #cf9a5d;
    font-weight: 600;
    text-decoration: none;
    margin: 10px 15px;
}

a:hover{
    text-decoration: none;
}

.mj-playlist-container{
    padding: 0 40px;
}

.mj-playlist{
    max-width: 850px;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.mj-products{
    background-image: url(products.jpg);
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mj-products h3, p{
    color: #fff;
    text-align: right;
}

.mj-products button{
    float: right;
    background-color: #cf9a5d;
    border-radius: 5px;
    color: #fff;
    border: none;
    padding: 5px 15px;
}

.mj-products .mj-product-content{
    padding: 30px;
}

.mj-middle-row{
    padding: 20px 0;
    background: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)), url(texture-min.png);
    flex: .5;
}

.mj-video-container{
    padding: 50px !important;
    -webkit-box-shadow: inset 0px 4px 40px -6px rgba(0,0,0,0.37);
    -moz-box-shadow: inset 0px 4px 40px -6px rgba(0,0,0,0.37);
    box-shadow: inset 0px 4px 40px -6px rgba(0,0,0,0.37);
}

.mj-bottom-row{
    flex: 1;
    background: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)), url(texture-min.png)
}

.mj-categories{
    max-width: 850px;
    width: 85%;
}


@media only screen and (max-width: 990px){
    .mj-products{
        height: 250px;
        padding: 30px !important;
    }
}