/*starts iframe style*/
#mj-iframe{
	/*display: none;*/
	border: none;
	position: absolute;

	width: 100%;
	height: 100%;
}
/*end of iframe style*/


/*starts modal styles*/
.mj-widget-modal {
    z-index: 9999999999999999;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0,0,0, .9);
    transition: opacity .25s ease;
}

.mj-widget-modal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.mj-widget-modal-state {
    display: none;
}

.mj-widget-modal-state:checked + .mj-widget-modal {
    opacity: 1;
    visibility: visible;
}

.mj-widget-modal-state:checked + .mj-widget-modal .mj-widget-modal__inner {
    top: 0;
}

.mj-widget-modal__inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    /*padding: 1em 2em;*/
    height: 90%;
}

.mj-widget-modal__close {
	/*transition: opacity .25s ease;*/
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

.mj-widget-modal__close:after,
.mj-widget-modal__close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
}

.mj-widget-modal__close:hover:after,
.mj-widget-modal__close:hover:before {
    background: #aaa;
}

.mj-widget-modal__close:before {
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

    .mj-widget-modal__inner {
        width: 90%;
        height: 90%;
        box-sizing: border-box;
    }
}

/*ends modal styles*/


/*starts floating button*/
.mj-float-btn{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
     /*background-color:#0C9;*/
    background-image: url('social_4-512.png');
    background-size: cover;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}

.mj-my-float{
    margin-top:22px;
}

/*end floating button*/